* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: "Suwannaphum", serif;
    color: #0d0000;
    font-size: 100%;
  }

  h1 {
    position: absolute;
    z-index: 650;
    top: 10px;
    left: 15px;
    padding: 8px 15px;
    margin: 0;
    color: whitesmoke;
    font-size: 1.5em;
    background: rgba(25, 25, 25, 0.8);
    border-radius: 5px;
  }

  #map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  h2 {
    position: absolute;
    z-index: 650;
    top: 10px;
    left: 15px;
    padding: 8px 15px;
    margin: 0;
    color: whitesmoke;
    font-size: 1.2em;
    text-transform: uppercase;
    background: rgba(25, 25, 25, 0.8);
    border-radius: 5px;
    cursor: pointer;
  }

  h2:hover {
    background: rgb(72, 72, 72);
  }

  h2:active {
    background: rgb(228, 175, 0);
  }

  #modal {
    display: none;
    position: absolute;
    z-index: 2000;
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    font-size: 1.5em;
  }

  #modal .container {
    width: 500px;
    margin: 10px auto;
    padding: 5px 20px;
    position: relative;
    background: rgba(25, 25, 25, 0.8);
    border-radius: 5px;
    border: #0d0000 1px solid;
  }

  #modal a:link,
  #modal a:visited {
    color: rgb(228, 175, 0);
  }

  #modal a:hover {
    color: rgb(255, 234, 166);
  }

  #modal div {
    margin: 20px auto;
  }

  #modal h1 {
    display: none;
  }

  #modal p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 5px 0;
  }

  #modal .footer {
    font-size: 1rem;
    color: rgb(201, 201, 201);
    text-align: center;
  }

  #modal span {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
  }

  .legend {
    font-family: Lato, sans-serif;
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(75, 75, 75, 0.8);
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 160px;
  }

  .legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    color: whitesmoke;
    margin: 0;
  }

  .legend h3 span {
    font-size: 1.3em;
    margin: 0 20px 0 0;
  }

  .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 4px 0;
  }

  .legend li {
    list-style-type: none;
    height: 22px;
  }

  .legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
  }

  #ui-controls {
    font-family: Lato, sans-serif;
    width: 176px;
    padding: 8px 25px 8px 15px;
    background: rgba(75, 75, 75, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: whitesmoke;
  }

  #ui-controls .min {
    float: left;
  }

  #ui-controls .max {
    float: right;
    margin-right: -15px;
  }

  .year-slider {
    width: 100%;
  }

  label {
    font-size: 1.1em;
    font-weight: bold;
  }

  /* Small devices (portrait phones, 576px and below) */
  @media (max-width: 576px) and (orientation: portrait) {
    h1 {
      display: none;
    }

    #modal .container {
      width: 90%;
    }

    #modal h1 {
      display: block;
      position: relative;
      margin: 20px auto;
      padding: 0;
      font-size: 1.6rem;
      top: unset;
      left: unset;
    }
  }